<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.collectoragentmind">

    <application>
        <meta-data
            android:name="org.godotengine.plugin.v1.CollectorAgentMind"
            android:value="com.example.collectoragentmind.CollectorAgentMind"/>
    </application>

</manifest>